html,
body {
  margin: 0 auto;
  padding: 0;
  width: 99vw;
  height: 100vh;
  height: -webkit-fill-available;
  background: #222;
  overflow: auto;
}
html * {
  color: white;
}
body {
  display: flex;
  align-items: center;
  flex-direction: column;
}
#wordle-board {
  margin: 1rem auto;
}
#wordle-board td {
  font-size: 2rem;
  width: 2rem;
  height: 2rem;
  border-radius: 0.2rem;
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;
}
td.correct,
#keyboard button.correct {
  background: green;
}
td.wrong-place,
#keyboard button.wrong-place {
  background: orange;
}
td.wrong,
#keyboard button.wrong {
  background: #333;
}

#keyboard {
  width: 60vw;
  background: #222;
  margin-bottom: 1rem;
}

#keyboard button {
  font-size: 1.5vw;
  padding: 0.5rem;
  width: 9vw;
  background: darkgrey;
  border: none;
  margin: 0.05rem;
  border-radius: 0.5rem;
}

#keyboard button:active {
  background: #333;
}

.double {
  width: 15vw !important;
}

.keyboard-row {
  display: flex;
  width: 100%;
  height: 3rem;
  justify-content: center;
}

main {
  display: block;
  flex: 1;
  overflow-x: hidden;
  overflow-y: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  width: 80vw;
  border-radius: 1rem;
}
main::-webkit-scrollbar {
  display: none;
}

#new-game {
  font-size: 2rem;
  padding: 1rem;
  background: forestgreen;
  border-radius: 0.5rem;
  border: none;
  display: block;
  margin: 4rem auto;
  cursor: pointer;
}
#new-game:active {
  background: green;
}

#loading {
  font-size: 1.5rem;
  text-align: center;
}

#loading-gif {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
  position: relative;
  top: 0.5rem;
}

input {
  background: #333;
}

#your-time {
  border-radius: 0 0 0.5rem 0.5rem;
  background: #555;
}
#other-time {
  border-radius: 0.5rem 0.5rem 0 0;
  background: #333;
}

#time-holder {
  padding: 0;
  width: 40%;
  margin: 0 auto;
}

#your-time,
#other-time {
  width: calc(100% - 0.4rem);
  margin-left: auto;
  margin-right: 0;
  padding: 0.2rem;
  text-align: left;
}

p {
  text-align: center;
}

@media only screen and (max-width: 1000px) {
  #keyboard {
    width: 100vw;
  }
  #keyboard button {
    font-size: 3vw;
  }
  .keyboard-row {
    height: 8vh;
  }
  #time-holder {
    width: 80%;
  }
}
